# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Expo / React Native
.expo/
.expo-shared/
android/
ios/
dist/
build/

# python
__pycache__/
*.pyc
venv/
.venv/
env/
ENV/
*.env

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
